body {
  background-color: rgba(97, 255, 247, 0.329);
}

section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section #calculator {
  border: 1px solid black;
  border-radius: 1rem;
  background-color: #373b67;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 28%;
  height: 75%;
}

section #calculator #screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  height: 25%;
  border: none;
  border-radius: 1rem;
  margin-bottom: 1rem;
  background-color: #c7c7c7;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-size: xx-large;
  padding: 0.5rem;
}

section #calculator #screen:focus-visible {
  outline: none;
}

section #calculator #numbersButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

section #calculator #numbersButtons #numbersZone #options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section #calculator #numbersButtons #numbersZone #options .optionBtn {
  margin: 0.1rem;
  border: 1px solid gray;
  border-radius: 3rem;
  background-color: #8ed2e9;
  width: 4rem;
  height: 4rem;
  font-size: x-large;
}

section #calculator #numbersButtons #numbersZone #options .optionBtn:hover {
  cursor: pointer;
  background-color: #78b8cf;
}

section #calculator #numbersButtons #numbersZone #options .optionBtn:active {
  border: 1px solid black;
}

section #calculator #numbersButtons #numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section #calculator #numbersButtons #numbers #igual {
  background-color: #8ed2e9;
  font-size: x-large;
}

section #calculator #numbersButtons #numbers #igual:hover {
  background-color: #78b8cf;
}

section #calculator #numbersButtons #numbers .numberBtn {
  margin: 0.1rem;
  border: 1px solid gray;
  border-radius: 3rem;
  background-color: #c7c7c7;
  width: 4rem;
  height: 4rem;
  font-size: x-large;
}

section #calculator #numbersButtons #numbers .numberBtn:hover {
  cursor: pointer;
  background-color: #b3b3b3;
}

section #calculator #numbersButtons #numbers .numberBtn:active {
  border: 2px solid black;
}
/*# sourceMappingURL=styles.css.map */