body {
    background-color: rgba(97, 255, 247, 0.329);
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    #calculator {
        border: 1px solid black;
        border-radius: 1rem;
        background-color: #373b67;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 75%;
        padding: 0rem 1rem;
        overflow: hidden;

        #screen {
            display: flex;
            align-items: center;
            width: 85%;
            height: 15%;
            border-radius: 1rem;
            margin-bottom: 1rem;
            background-color: #c7c7c7;
            justify-content: end;
            font-size: 1.3rem;
            padding: 0.5rem;
            overflow: hidden;
        }
        #screen:focus-visible {
            outline: none;
        }

        #numbersButtons {
            display: flex;
            flex-direction: row-reverse;

            #numbersZone {
                #options {
                    display: flex;
                    flex-direction: column;

                    .optionBtn {
                        margin: 0.1rem;
                        border: 1px solid gray;
                        border-radius: 3rem;
                        background-color: rgb(142, 210, 233);
                        width: 4rem;
                        height: 4rem;
                        font-size: x-large;
                    }
                    .optionBtn:hover {
                        cursor: pointer;
                        background-color: rgb(120, 184, 207);
                    }
                    .optionBtn:active {
                        border: 1px solid black;
                    }
                }
            }
            #numbers{
                display: flex;
                flex-direction: column;

                #igual {
                    background-color: rgb(142, 210, 233);
                    font-size: x-large;
                }
                #igual:hover {
                    background-color: rgb(120, 184, 207);
                }

                .numberBtn {
                    margin: 0.1rem;
                    border: 1px solid gray;
                    border-radius: 3rem;
                    background-color: rgb(199, 199, 199);
                    width: 4rem;
                    height: 4rem;
                    font-size: x-large;
                }
                .numberBtn:hover {
                    cursor: pointer;
                    background-color: rgb(179, 179, 179);
                }
                .numberBtn:active {
                    border: 2px solid black;
                }
            }
        }
    }
}

@import "./responsive.scss";